@import "var";
@import "mixin";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-1 !important;
  min-height: 100vh;
  font-family: $font-type;
  @include flexbox;
  color: white;
}

.bigcard {
  @include flexbox;
  flex-direction: row;
  width: 62.5rem;
  height: 25rem;
  // border: 2px solid red;
  overflow: hidden;
  border-radius: 0.5rem;
}
section {
  height: 100%;
}

/* part-1 ------> flex-box-1 */
.part-1 {
  background-color: $color-2 !important;
  height: 100%;
  width: 31.25rem;
  height: 25rem;
}
.flex-1-box {
  text-align: left;
  padding: 3rem 4rem 2rem;
  // text-align: center;
}
.h1-text {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
  margin-top: 1.5rem;
}
.color-h1-text {
  color: hsl(277, 64%, 61%);
}
.more-text {
  margin-top: 1.3rem;
  margin-bottom: 1rem;
  line-height: 1.5rem;
  font-size: 0.8rem;
  padding: 0 3rem 0 0;
  color: hsla(0, 0%, 100%, 0.6);
}

/* part-1 ------> flex-box-2 */
.flex-2-box {
  display: flex;
  justify-content: space-between;
  margin: 0 8rem 2rem 4rem;
  overflow: hidden;
}
.main-heading-sec-2 {
  margin: 0.3rem 0;
  color: hsl(0, 0%, 100%);
}
.p-text {
  font-family: "Lexend Deca";
  color: hsla(0, 0%, 100%, 0.6);
  margin: 0;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

// part-2 starts here--
.part-2 {
  width: 31.25rem;
  height: 25rem;
  // width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  // opacity: 1;
  position: relative;
  background-image: url("../images/image-header-desktop.jpg");
  // height: 100%;
}
.part-2::before {
  content: "";
  background-color: hsl(277, 64%, 61%);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  mix-blend-mode: multiply;
}

// media queries
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  body {
    // background-color: yellow !important;
    min-height: auto;
    padding: 3rem 1rem;
  }

  .bigcard {
    flex-wrap: wrap-reverse;
    width: 100%;
    width: 29rem;
    height: auto;
  }
  .part-1 {
    height: 35rem;
  }
  .part-2 {
    height: 22rem;
    background-size: cover;
  }
  .flex-1-box {
    padding: 3rem 4rem 2rem;
    text-align: center;
  }
  .h1-text {
    color: hsl(0, 0%, 100%);
    font-size: 1.8rem;
    margin: 0 3rem;
  }
  .more-text {
    line-height: 1.6rem;
    font-size: 1rem;
    padding: 0 3rem;
    font-weight: 100;
  }
  .flex-2-box {
    display: flex;
    justify-content: space-around;
    margin: 0 2rem;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
  }
  .main-heading-sec-2 {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
  }
  .p-text {
    text-align: center;
  }
}
